.header{
    padding: 35px 0; // 35 arriba y abajo; 0 izq. y der.
}

// la 'envoltura' del header; la hacemos 'flex' 
// para que los subcomonenetes se organicen flexiblemente
.wrap{ 
    display: flex;
    flex-wrap: wrap;

    // row gap col cap
    gap: calc( var(--base) / 2 ) var(--base);

    align-items: center;
    justify-content: space-between;
}

// estetica y redirect de la imagensita proncipal
.logo{
    // vectorizar el icono para que funcione mejor
    width: 195px; 
    // height: 90px;
}

// si un invitado inicia sesion, ya no deberia aparecer 'login, signup' en el encabezado
.hide{
    display: none;
}